.ScreenTwo {
  width: 100wh;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 20% 55% 20%;
}
.ScreenTwo-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.ScreenTwo-list {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100%;
  column-gap: 5px;
}

.isActiveSeat {
  border: 5px solid green;
}
.notActiveSeat {
  border: 5px solid white;
}

.ScreenTwo-btn {
  height: 60px;
  width: 120px;
  margin-left: 80%;
  border: none;
  border-radius: 35px;
  color: white;
  background-color: green;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
.Wheel {
  text-align: center;
}
.Body {
  text-align: center;
}
.Seat {
  text-align: center;
}
.Handle {
  text-align: center;
}
.Pedal {
  text-align: center;
}
.ScrrenTwo-img {
  text-align: center;
}
